* {
  font-family: "Barlow", sans-serif;
  line-height: 1.4;
}

body,
html {
  overflow-x: hidden;
  background-color: black;
}

.repro {
  font-family: "ABC Repro", sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.sticky-header {
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s;
}

.text-lime {
  color: #e3f331;
}

.bg-lime {
  background-color: #e3f331;
}

.btn-lime {
  background-color: #e3f331;
  color: black;
  padding: 12px 48px;
  border: unset;
  border-radius: 30px;
}

.logo-main {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.btn-lime:hover {
  background-color: #eaf664;
}

h1 {
  line-height: 54px;
}

.lh-30 {
  line-height: 30px;
}

h3 {
  line-height: 27px;
}

.lh-35 {
  line-height: 35px;
}

.beta-badge {
  background-color: #2f1a73;
  color: white;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  white-space: normal;
  border: 1px transparent;
  border-radius: 999px;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 12px;
  font-family: Barlow, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  display: inline-flex;
}

.logo img {
  height: 80px;
  width: auto;
  object-fit: contain;
}

.unlock {
  border: 2px solid #e3f331;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* content hub */
.stepnumber {
  max-height: 48px;
  max-width: 48px;
  min-height: 48px;
  min-width: 48px;
  background-color: #d8cdf9;
  text-align: center;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  line-height: 32px;
  display: flex;
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
}

.has-line::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #404040;
  position: absolute;
  left: 0;
  top: 25px;
}

.large-marquee {
  min-width: 240px;
  width: 240px;
}

#continious-marquee {
  animation: marquee 20s linear infinite;
  will-change: transform;
}

.create-profile {
  background-image: url("../img/create-profile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input[type="radio"] {
  display: none;
}

@keyframes marquee {
  0% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 992px) {
  .sticky-header {
    background-color: black;
  }

  .menu {
    flex-wrap: nowrap;
    overflow-x: scroll;
    background-color: #404040;
    margin-top: 20px;
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    flex-direction: column;
    display: none !important;
  }

  .menu.active {
    display: flex !important;
  }

  .text-\[48px\] {
    font-size: 30px;
    line-height: 40px;
  }

  .text-\[26px\] {
    font-size: 20px;
  }

  .text-\[32px\] {
    font-size: 25px;
  }

  .has-line::after {
    display: none;
  }

  .header {
    z-index: 1000;
  }
}